.main_contact .con_sec {
  max-width: 500px;
  padding: 20px;
    align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  flex-direction: column;
  
}
.main_contact .con_sec div{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.main_contact .con_sec h1{
  font-size: var(---font1);
}
.main_contact .con_sec div a{
  height: 50px;
  border-radius: 50%;
  margin: 10px 10px;
  opacity: .65;
  transition: all .2s;
}
.main_contact .con_sec div a .img{
  height: 100%;
}
.main_contact .con_sec div a:hover{
  opacity: 1;
  scale: 1.05;
}